body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 14px 25px;
  border-radius: 12px;
}
.buttons {
  background-color: green;
  color: white;
  padding: 14px 25px;
  border-radius: 12px;
  max-width: 800px;
  border: 2px double black;
  font-size: 24px;
  margin: 1%;
}
