body {
  background-color: burlywood;
  font-family: "Courier New", Courier, monospace;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #000;
  text-align: center;
  cursor: pointer;
  margin: 2px;
}
button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(115, 240, 13);
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(250, 250, 250);
  text-align: center;
  cursor: pointer;
  margin: 1%;
  padding: 1%;
}
